fastapi
uvicorn
pandas
scikit-learn
torch==2.7.1
transformers==4.52.4
datasets==3.6.0
regex
safetensors
tokenizers
python-dateutil
PyYAML
requests
tqdm
packaging
setuptools
six
accelerate
filelock
pyarrow
pytz
tzdata
Jinja2
MarkupSafe
aiohttp
multidict
yarl
xxhash